.hero {
    background-image: url('../images/cocktails.png');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.hero h1{
font-family: "Pinyon Script", serif;
font-size: 220px;
text-align: center;
line-height: 1.5;
margin: auto;
padding: 85px;
text-shadow: 3px 3px 4px #5C0702;
color: #F5F3E6;

}

.hero p{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    border-bottom: 1px solid black;    
}

@media (max-width: 960px){
.hero {
    height: 300px;
}
.hero h1{
    font-size: 100px;
    padding: 75px;
}
}
